### List
- Lists are ordered mutable collections of items 
- They can contain items of different data types

In [1]:
lst=['Aditya Sinha','Fiza',1,2,3,4]

In [2]:
lst

['Aditya Sinha', 'Fiza', 1, 2, 3, 4]

- We know that list contains different types of numbers.

In [3]:
# Accessing fruits items
fruits=['Apple','Banana','Orange','Grapes']

In [4]:
print(fruits[0],fruits[1])

Apple Banana

- List indexing starts from zero

In [5]:
print(fruits[1:])

['Banana', 'Orange', 'Grapes']

In [6]:
### Modifying the list elements 
fruits[1]='Watermelon'

In [7]:
fruits

['Apple', 'Watermelon', 'Orange', 'Grapes']

In [9]:
## List Methods
fruits.append('cherry') ## Appending the element at last
fruits

['Apple', 'Watermelon', 'Orange', 'Grapes', 'cherry', 'cherry']

In [10]:
## Adding the element at a specific position in the list.
fruits.insert(1,'kiwi')

In [11]:
fruits

['Apple', 'kiwi', 'Watermelon', 'Orange', 'Grapes', 'cherry', 'cherry']

In [12]:
## Removing the first occurence of the selected element of the list
fruits.remove('kiwi')

In [13]:
fruits

['Apple', 'Watermelon', 'Orange', 'Grapes', 'cherry', 'cherry']

In [15]:
## Remove the last element in the list 
fruits.pop()
## This commands remove the last element as well as return the last element

'cherry'

In [17]:
## Getting the index of the required element
fruits.index('Orange')

2

In [18]:
sorted(fruits)

['Apple', 'Grapes', 'Orange', 'Watermelon']

In [19]:
sorted(fruits,reverse=True)

['Watermelon', 'Orange', 'Grapes', 'Apple']

In [20]:
### Slicing the lists 
numbers=[1,2,3,4,5,6,7,8,9]

In [21]:
print(numbers[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
print(numbers[2:5]) # This prints the numbers from index 2 to 4 leaving 5

[3, 4, 5]

In [24]:
print(numbers[:5]) # This will print the numbers from index zero till 4

[1, 2, 3, 4, 5]

In [26]:
print(numbers[5:]) # from index 5 till last

[6, 7, 8, 9]

In [27]:
## Iterating over the list
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9

In [29]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [30]:
## List comprehension

In [33]:
lst=[]
for i in range(10):
    lst.append(i**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List Comprehension

### [Expression for item in iterable]
    [Expression for item in iterable if condition]
    nested list comprehension [expression for item1 in iterable1 for item 2 in iterable2]

In [38]:
## Square of set of numbers
square=[x**2 for x in range(15)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [41]:
cube=[x**3 for x in range(10) if x!=5]
print(cube)

[0, 1, 8, 27, 64, 216, 343, 512, 729]

In [46]:
## Nested list comprehension 
lst1=[1,2,3,4]
lst2=['a','b','c','d']

concat=[(x,y) for x in lst1 for y in lst2]
print(concat)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

## Real-world Examples using lists in python

- Example-1: Manage a to-do List

In [59]:
to_do_list=['Buy Groceries','Clean the house','Pay Bills']
print(to_do_list)

## Adding to list
to_do_list.append('Office Meeting')
to_do_list.append('Going to GYM')

print(to_do_list)

# Suppose I have done the first three tasks
to_do_list.remove('Buy Groceries')
to_do_list.remove('Clean the house')
to_do_list.remove('Pay Bills')
# This shows when we complete a task what kind of code will be written in the backend
print(to_do_list)

if 'Office Meeting' in to_do_list:
    print('Dont forget to attain  the office meeting')

['Buy Groceries', 'Clean the house', 'Pay Bills']
['Buy Groceries', 'Clean the house', 'Pay Bills', 'Office Meeting', 'Going to GYM']
['Office Meeting', 'Going to GYM']
Dont forget to attain  the office meeting

- Example-2: Organizing Student Grades

- Create a list to store and calculate average grades for students

In [73]:
#Organizing student grades
number=[85,92,78,90,88]

# Adding a new grade
number.append(67)
# calculating the average grades
average_grades=sum(number)/len(number)
print(f'Average_Grades:{average_grades}')

# Highest Grade
high=max(number)
print(f'Highest Grade:{high}')

# Lowest Grade
low=min(number)
print(f'lowest Grade:{low}')

Average_Grades:83.33333333333333
Highest Grade:92
lowest Grade:67

## Sets

- Sets do not allow duplicate entries
- They are unordered

In [77]:
## Create a set 
my_set=set([1,32,23,1])
print(my_set)
# It ignores the duplicate elements and give us the element of the required type

{32, 1, 23}

In [80]:
# Creating an empty set
my_empty_set=set()
print(type(my_set))

<class 'set'>

In [90]:
## Basic Set Operations
set1=set([1,2,3,4])
set2=set([1,5,6,7,1])
# Adding element to set
set1.add(5)
print(set1)

# Removing the element from set
set1.remove(4)
print(set1)

# pop method
removed_element=set1.pop()
print(removed_element)

#Clear all elements
set2.clear()
print(set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}
1
set()

In [91]:
## Set Membership test
## Tells you whether an element is the member of that set or not 
my_set={1,2,3,4,5}
print(3 in my_set)

True